<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.namsojeongyou.gosichon2"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.hs.emirim.namsojeongyou.gosichon2.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivith"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <!-- Map Activity -->
        <activity
            android:name=".MapActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".MapActivity_1"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".MapActivity_2"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".MapActivity_3"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".MapActivity_4"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- List Activity -->
        <activity
            android:name=".MyListActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- Stamp Activity -->
        <activity
            android:name=".StampActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- Search Activity -->
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="ItemView"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <!-- SearchResult Activity -->
        <activity
            android:name=".SearchResultActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".StoreActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="Imagemain"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
    </application>

</manifest>